.header, .list-images {
  display: flex;
  flex-wrap: wrap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.checkbox,
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title-2, .title-3 {
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
}

.title-2 {
  font-size: 36px;
  line-height: 1.167;
  margin-bottom: 30px;
  text-align: center;
}

.title-3 {
  font-size: 14px;
  line-height: 1.143;
  margin-bottom: 10px;
  text-transform: uppercase;
}

footer .title-3 {
  color: #ffffff;
  margin-bottom: 20px;
}

/*fonts*/
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/roboto-v20-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v20-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v20-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

.button, .button-modal-submit, .button-send, .portfolio_button {
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #2196f3;
}

.button, .button-modal-submit, .button-send {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
}

@media screen and (min-width: 1200px) {
  .button-modal-submit {
    margin-top: 30px;
  }
}

.button-send {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .button-send {
    margin-left: 12px;
  }
}

.portfolio_button {
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: 0;
  margin-right: 8px;
  margin-bottom: 15px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_button:hover, .portfolio_button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    padding-top: 32px;
  }
}

.contacts-header_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  width: max-content;
}

.contacts-header_link:not(:last-child) {
  margin-bottom: 40px;
}

header .contacts-header_link {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .contacts-header_link {
    font-size: 14px;
    margin: 0;
  }
  .contacts-header_link:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header_link {
    margin-bottom: 0;
  }
  .contacts-header_link:not(:last-child) {
    margin-right: 30px;
  }
}

.link, .link-active {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  width: max-content;
}

@media screen and (max-width: 767px) {
  .link:not(:last-child), .link-active:not(:last-child) {
    margin-bottom: 40px;
  }
}

header .link, header .link-active {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .link, .link-active {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 32px;
  }
  .link:not(:last-child), .link-active:not(:last-child) {
    margin-right: 50px;
  }
}

.link-active {
  position: relative;
  margin-right: 50px;
  color: #2196f3;
}

.link-active::after {
  position: absolute;
  left: 0;
  bottom: -8px;
  content: '';
  border-bottom: solid 4px;
  width: 100%;
  border-radius: 2px;
  color: #2196f3;
}

@media screen and (min-width: 767px) {
  .link-active::after {
    bottom: -28px;
    display: inline-block;
  }
}

@media screen and (min-width: 768px) {
  .link-active {
    margin-bottom: 32px;
  }
}

.menu-button {
  display: block;
  margin: 0;
  padding: 0;
  display: inline-block;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-burger {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-container {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
    height: 393px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    padding: 0;
  }
}

.navigation-menu {
  display: inline-block;
  width: 100%;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .navigation-menu {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .navigation-menu {
    text-align: start;
  }
}

.icon-cross {
  fill: #212121;
}

.icon-cross:hover, .icon-cross:focus {
  fill: #2196f3;
}

.icon-burger {
  fill: #212121;
}

.icon-burger:hover, .icon-burger:focus {
  fill: #2196f3;
}

.logo, .logo-1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  header .logo, header .logo-1 {
    margin-right: 93px;
  }
}

.logo-1 {
  color: #212121;
  margin-right: 0;
}

footer .logo-1 {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  footer .logo, footer .logo-1,
  .logo-1 {
    font-size: 26px;
    margin: 0;
  }
}

.contacts-header {
  margin-left: auto;
  align-items: center;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contacts-header {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-header {
    display: flex;
    align-items: baseline;
  }
}

.svg-contact {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover .svg-contact,
.nav-link:focus .svg-contact {
  color: #2196f3;
  fill: #2196f3;
}

.nav-link {
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

nav .nav-link {
  color: #212121;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding-top: 93px;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 1s;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  height: 600px;
  width: 450px;
  border-radius: 4px;
  background: #fff;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.5s linear;
}

@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 520px;
    left: 390px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    height: 581px;
    width: 528px;
  }
}

.modal .title-3 {
  font-size: 20px;
  text-transform: none;
  text-align: center;
}

.modal a {
  color: #2196f3;
  text-decoration: underline;
  cursor: pointer;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.3);
  transition: transform 0.5s linear;
}

.close-button {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
}

.close-button:hover, .close-button:focus {
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: black;
}

.close-button:hover .icon-close,
.close-button:focus .icon-close {
  fill: #2196f3;
}

.icon-send {
  position: absolute;
  bottom: 10px;
  left: 15px;
  fill: black;
}

.field-modal:hover ~ .icon-send,
.field-modal:focus ~ .icon-send,
.field-modal:active ~ .icon-send {
  fill: #2196f3;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label-modal {
  margin-bottom: 4px;
}

.field-modal {
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 12px 12px 42px;
}

.field-modal:hover, .field-modal:focus {
  border: 1px solid #2196f3;
  outline: none;
}

footer .field-modal {
  color: #ffffff;
  width: 450px;
  height: 50px;
  padding-left: 12px;
  background: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (min-width: 1200px) {
  footer .field-modal {
    width: 358px;
  }
}

.contact-date {
  padding-bottom: 20px;
}

.textarea {
  resize: none;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding: 12px 16px;
}

.textarea:hover, .textarea:focus {
  border-color: #2196f3;
}

.form-agreement {
  padding-bottom: 30px;
}

.label-checkbox {
  display: block;
  margin-top: 20px;
}

.icon-checkbox {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 2px solid #000;
  border-radius: 4px;
}

.checkbox:checked + .icon-checkbox {
  background-color: #2196f3;
  background-image: url(../images/icons/icon-check.svg);
  border-color: #2196f3;
  background-origin: border-box;
  background-size: contain;
}

.social-button:not(:last-child) {
  margin-right: 10px;
}

.social {
  display: flex;
  justify-content: center;
}

.social-item {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-item,
.social-link:focus .social-item {
  fill: #ffffff;
}

.social-link {
  display: inline-block;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: #fff;
  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.grand-section {
  border-top: 1px solid #afb1b8;
}

@media screen and (max-width: 1199px) {
  .grand-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .grand-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  position: relative;
  padding: 25px 15px;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 0px 15px;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 45px;
  padding-right: 45px;
  margin-bottom: 60px;
  background-color: #2f303a;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-1x.jpg);
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-1x.jpg);
  }
}

@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet-2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-1x.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop-2x.jpg);
  }
}

.title-1 {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-1 {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .our-pref {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-pref {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.preferenses {
  padding-bottom: 30px;
}

.preferenses::before {
  display: inline-block;
  content: '';
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
  margin-bottom: 30px;
}

.preferenses:nth-child(1)::before {
  background-image: url(../images/icons/antenna.png);
}

.preferenses:nth-child(2)::before {
  background-image: url(../images/icons/clock.png);
}

.preferenses:nth-child(3)::before {
  background-image: url(../images/icons/diagram.png);
}

.preferenses:nth-child(4)::before {
  background-image: url(../images/icons/astronaut.png);
}

@media screen and (min-width: 768px) {
  .preferenses {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
  .preferenses:nth-child(even) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .preferenses {
    flex-basis: calc((100% - 4 * 30px) / 4);
  }
  .preferenses:not(:first-child) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .list-preferense {
    display: flex;
    flex-wrap: wrap;
  }
}

.img-item {
  flex-basis: calc(100% / 3 - 30px);
}

.img-item:not(:first-child) {
  margin-left: 30px;
}

.illustration {
  position: relative;
  width: 100%;
}

.legend-img {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  margin-bottom: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .way {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .way {
    display: block;
    padding-bottom: 94px;
  }
}

.our-team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 1199px) {
  .our-team {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.team-face {
  width: 100%;
  height: auto;
}

.team, .team-title {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}

.team {
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-title {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
}

.legend {
  padding: 30px 32px;
  box-sizing: border-box;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  margin-left: 30px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .team-card:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-card {
    width: calc((100% - 2 * 30px) / 2);
  }
  .team-card:nth-child(2n + 1) {
    margin-left: 0;
  }
  .team-card:nth-child(n + 3) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    width: calc((100% - 4 * 30px) / 4);
  }
  .team-card:nth-child(4n + 1) {
    margin-left: 0;
  }
}

@media screen and (max-width: 1199px) {
  .clients {
    margin-bottom: 60px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.client-button {
  margin-bottom: 30px;
  height: 90px;
}

@media screen and (max-width: 767px) {
  .client-button {
    width: calc(100% / 2 - 30px);
  }
  .client-button:nth-child(2n) {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client-button {
    width: calc(100% / 3 - 30px);
  }
  .client-button:not(:nth-child(3n + 1)) {
    margin-left: 30px;
  }
}

.client-item {
  display: inline-block;
  height: 90px;
  width: 100%;
  border-color: #afb1b8;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-item:focus, .client-item:hover {
  border-color: #2196f3;
}

.client {
  width: 100%;
  height: 90px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:hover .client,
.client-item:focus .client {
  fill: #2196f3;
}

.adress {
  color: #ffffff;
  margin-top: 20px;
  font-style: normal;
}

.contacts {
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}

footer {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.contact-footer {
  margin-top: 9px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767px) {
  .column:not(:first-child) {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .columns-tablet {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
    justify-content: space-evenly;
  }
  .column .columns-tablet {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-columns {
    display: flex;
  }
  .column-desctop {
    margin-left: 70px;
  }
}

.send {
  align-items: baseline;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .send {
    display: flex;
  }
}

.subscription-label {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.icon-send-footer {
  margin-left: 10px;
}
/*# sourceMappingURL=main.css.map */