.our-team {
  background-color: #f5f4fa;
  @media screen and (max-width: 1199px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team-list {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.team-face {
  width: 100%;
  height: auto;
}
%legend-text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
}
.team {
  @extend %legend-text;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-title {
  @extend %legend-text;
  font-weight: 500;
  color: $title-color;
  margin-bottom: 10px;
}
.legend {
  padding: 30px 32px;
  box-sizing: border-box;
}

.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: $white;
  margin-left: 30px;
  width: 100%;

  @media screen and(max-width: 767px) {
    &:not(:first-child) {
      margin-top: 30px;
    }
  }
  @media screen and(min-width: 768px) and(max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    &:nth-child(2n + 1) {
      margin-left: 0;
    }
    &:nth-child(n + 3) {
      margin-top: 30px;
    }
  }
  @media screen and(min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    &:nth-child(4n + 1) {
      margin-left: 0;
    }
  }
}
